/node_modules/
/lib/
/test/
custom-elements.json
# top level source
timedtext-player.js
timedtext-player.js.map
timedtext-player.d.ts
timedtext-player.d.ts.map
# only generated for size check
# TODO: use it in dist?
timedtext-player.bundled.js
/dist/
